<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>472501211934-8n534sk2qfg4g8fr41vdbqdc19nrk5ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472501211934-8n534sk2qfg4g8fr41vdbqdc19nrk5ce</string>
	<key>API_KEY</key>
	<string>AIzaSyCDcunWEaMuvpo9Nh7ymoqMmZnTRL81pZw</string>
	<key>GCM_SENDER_ID</key>
	<string>472501211934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kit.StudyCat</string>
	<key>PROJECT_ID</key>
	<string>studycat-578c6</string>
	<key>STORAGE_BUCKET</key>
	<string>studycat-578c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:472501211934:ios:435cf404d06aa156</string>
	<key>DATABASE_URL</key>
	<string>https://studycat-578c6.firebaseio.com</string>
</dict>
</plist>
